{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-auto d-flex align-items-start mb-3 mb-md-0">
            {% block model_basket %}
            {% include 'includes/basket_button.html' %}
            {% endblock %}
        </div>
        <div class="col">
            <div class="border-primary rounded custom-shadow card m-4 p-3">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <img src="{% static '/deps/images/mobileshop.jpg' %}" alt="Фото магазина"
                             class="img-fluid rounded">
                    </div>
                    <div class="col-md-8 ps-md-4">
                        <h2 class="m-3">{{ content }}</h2>
                        <div class="border-primary rounded card p-3 border-0 mt-2 mt-md-0">
                            <p>За время существования мы обзавелись большим магазином недалеко от центра Москвы и
                                собственным
                                сервисным
                                центром, который осуществляет гарантийный ремонт, что особенно важно в наше время.</p>
                            <p>{{ text_on_page }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="bg-dark">
    <div class="container">
        <p class="m-0 text-left text-white footer-text">© 2025 Унитарное предприятие «Electronics». Все права
            защищены. *Учебный сайт</p>
    </div>
</footer>
{% endblock %}

