{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <!-- Значок корзины слева -->
            {% block model_basket %}
            {% include 'includes/basket_button.html' %}
            {% endblock %}

            <!-- Название магазина по центру -->
            <h2 class="fw-bold mb-0 text-center flex-grow-1">{{ content }}</h2>
        </div>
    </div>

    {% cache 60 catalog_categories %}
    {% tag_categories as categories %}
    <div class="row categories-row">
        {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="p-3 text-center category_card">
                <a href="{% url 'products:index' category.slug %}">
                    <img src="{{ category.image.url }}" alt="{{ category.slug }}" class="category-img">
                </a>
                <a href="{% url 'products:index' category.slug %}"
                   class="d-block mt-2 text-dark fw-semibold text-decoration-none">
                    {{ category.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endcache %}
</div>
{% endblock %}

{% block footer %}
<footer class="bg-dark mt-5">
    <div class="container py-3">
        <p class="m-0 text-left text-white footer-text">
            г.Москва, ул. Тверская, д. 25, кор.5. Тел: +7 915 234-56-78
        </p>
        <p class="m-0 text-left text-white footer-text">
            © 2025 Унитарное предприятие «Electronics».
        </p>
        <p class="m-0 text-left text-white-50 footer-text small">
            Внимание! Этот сайт создан исключительно в учебных целях и не является коммерческим интернет-магазином.
            Вся представленная информация, включая изображения и описания товаров, используется для демонстрации и может
            не соответствовать реальным предложениям и условиям продаж.
            Любое использование материалов сайта в коммерческих целях без согласия правообладателей запрещено.
        </p>
    </div>
</footer>
{% endblock %}